#video{width:100%;height:100%;overflow:hidden}
.video-js .vjs-progress-control{}
.video-js .vjs-control-bar{padding:40px 14px 6px;height:86px}
.video-js .vjs-control{height:2px !important;margin-right:7px}
.video-js .vjs-control.vjs-progress-control{height:8px !important}
.video-js .vjs-time-control,.video-js .vjs-current-time{display:inline-block}
.video-js .vjs-time-control{padding-right:0px;padding-left:0px;line-height:40px;height:40px !important;min-width:inherit;margin-right:4px}
.video-js .vjs-remaining-time{display:none}
.vjs-progress-control{position:absolute !important;bottom:52px;left:0;height:3px !important;width:100% !important}
.vjs-progress-holder{position:absolute;left:0;margin:0;height:2px !important;width:100%}
.vjs-control{position:absolute}
.video-js .vjs-progress-control .vjs-progress-holder{margin:0 0px !important}
.vjs-fullscreen-control,.vjs-fullscreen-control-self{position:absolute !important;top:40px;right:14px}
.vjs-fullscreen-control-self{cursor:pointer;flex:none;width:40px;height:40px;text-align:center}
.vjs-fullscreen-control-self i{display:inline-block;width:100%;height:100%;background:url("/ananas/modules/video/fullBtn.png?v=1") no-repeat center center;background-size:20px 20px;text-align:center}
.vjs-fullscreen-control-self i.closeFull{width:22px;background:url("/ananas/modules/video/closeFull.png?v=1") no-repeat left center;background-size:100%}
.vjs-volume-panel{position:absolute !important;top:40px;right:94px}
.vjs-resolution-button{position:absolute !important;right:174px}
.vjs-playline-button{right:214px}
.vjs-playback-rate .vjs-menu{z-index:10 !important}
.vjs-texttrack-settings{}
.vjs-control-bar:focus{outline:none}
.ans-timelineobjectsbg,.ans-timelineobjects{position:absolute;width:100%;height:100%;z-index:101;text-align:center;font-size:14px}
.ans-timelineobjectsbg,.ans-customIframe{position:absolute;width:100%;height:100%;z-index:101;text-align:center;font-size:14px}
.ans-timelineobjectsbg,.ans-customIframeV2{position:absolute;width:100%;height:100%;z-index:101;text-align:center;font-size:14px}
.ans-timelineobjectsbg{background:rgba(0,0,0,.7);z-index:1}
.ans-timelineobjects-autosize{width:auto !important;height:auto !important}
.ans-videoquiz{text-align:left;padding:20px}
.ans-videoquiz-opts{padding:0;margin-top:20px !important}
.ans-videoquiz-opt,.ans-vjserrdisplay-opt{list-style:none;margin-top:20px}
.ans-videoquiz-opt input,.ans-vjserrdisplay-opt input{vertical-align:middle;margin-top:-3px;margin-right:10px}
.ans-videoppt{float:left;cursor:pointer;-webkit-transition-duration:0.4s;transition-duration:0.4s}
.ans-videoppt-fullscreen{width:100% !important}
.vjs-text-track-display{z-index:0}
.vjs-error .vjs-modal-dialog-content{position:static;top:0;left:0;width:auto;height:auto;display:none}
.ans-vjserrdisplay{padding:40px 50px;font-size:14px}
.ans-vjserrdisplay-opts{margin-top:20px !important}
.vjs-error .vjs-error-display:before{content:'' !important}
.ans-vjserrdisplay-title{font-size:20px}
.vjs-text-track-display{bottom:40px !important}
.vjs-menu-button-popup .vjs-menu{bottom:-1.2em !important}
.ans-videoquiz-title{white-space:pre-wrap}
.comment_icon{display:none;width:58px;height:58px;position:absolute;right:20px;top:20px;cursor:pointer}
.comment_icon img{display:block;width:100%;height:100%}
.comment_box{position:absolute;right:0;top:0;width:259px;height:469px;text-align:left;background:rgba(16,26,41,0.76);border-radius:8px 0px 0px 8px;padding:20px;box-sizing:border-box;font-family:SF Pro Display,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji}
.comment_tit{height:20px;line-height:20px;margin-bottom:20px;color:#ACB4BF;font-size:14px}
.stow_icon{display:inline-block;width:20px;height:20px}
.stow_icon img{display:block;width:100%;height:100%}
.comment_con{font-size:16px;line-height:22px;color:#FFF;width:100%;height:calc(100% - 90px);overflow:hidden;white-space:pre-wrap;}
.continueLearn{margin-top:10px;display:inline-block;width:92px;height:36px;background:url(/ananas/modules/video/jb_btn_92.png) no-repeat 0 0;display:inline-block;color:#FFFFFF;text-align:center;line-height:36px;font-size:14px}
.continueLearn:hover{background-position:0 -48px}
.vjs-screen-shot{position:fixed;right:20px;display:inline-block;width:36px;height:36px;background:url("/ananas/modules/video/screenshot.png?v=1") no-repeat left center;background-size:100%;}
.vjs-control-bar .vjs-self-setting{display:block;position:absolute;right:52px;height:40px!important;margin-right:0}
.fullScreenContainer.full .vjs-control-bar .vjs-self-setting{width:42px;height:42px!important;margin-right:4px;}
.vjs-self-setting .vjs-button{display:inline-block;width:100%;height:100%;background:url("/ananas/modules/video/video_settingIcon.png?v=1") no-repeat center center;background-size:20px 20px;text-align:center;cursor:pointer}
.fullScreenContainer.full .vjs-self-setting .vjs-button{width:22px;height:22px;margin-top:10px}
.vjs-self-setting .vjs-menu{bottom:-1px !important;right:55px;left:auto;background:rgba(24,30,51,0.8)}
.vjs-self-setting .vjs-menu >ul{box-sizing:border-box;color:#fff;font-size:14px;line-height:20px;position:absolute;min-width:296px;border:solid 1px rgba(127,137,173,0.2);background:rgba(24,30,51,0.8);right:-92px;bottom:30px;padding:18px 20px;border-radius:6px}
.vjs-self-setting .vjs-menu >ul li{font-size:14px}
.vjs-self-setting .vjs-menu ul.video_line li:not(.active):hover{color:#fff;background:rgba(78, 86, 108, 0.80);}
.video_line li{float:left;height:28px;line-height:28px;background:rgba(59,65,83,0.8);margin-right:13px;width:76px;cursor:pointer;text-align:center;margin-top:10px}
.video_line li:nth-child(3n){margin-right:0}
.video_line li.active{color:#3A8BFF}
.vjs-self-setting .vjs-menu .vjs-menu-content{max-height:417px;overflow:auto;width:auto;z-index:101}
.rightArrow{vertical-align:middle;display:inline-block;width:14px;height:14px;background:url(images/whiteArrow.png) no-repeat;background-size:100%}
.vjs-sub-setting-btn.videoTitle{margin-top:20px;cursor:pointer;display:flex;align-items:center;justify-content:space-between}
.vjs-sub-title.videoTitle{margin-top:30px}
.vjs_base_setting{width:256px}
.vjs_advanced_setting{display:none;width:300px}
.toZimuBx{display:flex;align-items:center;justify-content:space-between}
.toZimuBx .rightArrow{transform:rotate(180deg)}
.toZimu{cursor:pointer}
.resetBtn{display:inline-block;width:45px;height:25px;text-align:center;line-height:25px;border-radius:100px;background:rgba(59,65,83,0.8);font-size:12px;cursor:pointer}
.fontBordList li{width:65px;margin-right:10px !important}
.fontBordList li:nth-child(4n){margin-right:0}
.video_setting_zimu{width:256px;box-sizing:border-box}
.video_setting_highBx{width:300px;box-sizing:border-box}
.marTop24{margin-top:24px}
.marTop12{margin-top:12px}
.itemLineBx{display:flex;align-items:center;justify-content:space-between}
.rightbox{width:166px}
.vjs_advanced_setting .selectBox{vertical-align:top;position:relative;cursor:pointer;background:rgba(59,65,83,0.8);width:100%;border:1px solid rgba(255,255,255,0.2);line-height:28px;height:28px;border-radius:4px;font-size:13px}
.vjs_advanced_setting .selectBox:after{content:'';position:absolute;top:7px;right:6px;width:12px;height:12px;display: inline-block;background: url("/ananas/modules/video/solidArrowDown.png?v=1") no-repeat left center;background-size: 100%;border:none;}
.vjs_advanced_setting .selectBox:hover::after{background: url("/ananas/modules/video/solidArrowDownBlue.png?v=1") no-repeat left center;background-size: 100%;border:none;}
.vjs_advanced_setting .selectBox.dropDown:after{transform:rotate(180deg);top:7px;background: url("/ananas/modules/video/solidArrowDownBlue.png?v=1") no-repeat left center;background-size: 100%;border:none;}
.vjs_advanced_setting .selectBox p{vertical-align:top;padding:0 15px 0 10px;margin-right:10px;height:28px;width:154px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.vjs_advanced_setting .selectBox ul{width:100%;position:absolute;z-index:10;top:30px;left:-1px;background-color:#3A4258;display:none;border-radius:6px;box-shadow:0px 2px 4px 0px rgba(28,31,35,0.40)}
.vjs_advanced_setting .selectBox ul li{padding:0}
.vjs_advanced_setting .selectBox ul li a{display:block;line-height:32px;padding:0 20px;color:#fff}
.vjs_advanced_setting .selectBox ul li a:hover{background-color:#4B536C}
.vjs_advanced_setting .selectBox ul li.active a{color:#3A8BFF;background:url(/ananas/modules/video/xz.png?v=1) no-repeat 95% center;background-size:10%}
.vjs_advanced_setting .selectBox ul::-webkit-scrollbar{width:8px;height:8px}
.vjs_advanced_setting .selectBox ul::-webkit-scrollbar-thumb{border-radius:20px;background-color:rgba(255,255,255,0.15)}
.dragBx{height:20px;display:flex;align-items:center;justify-content:space-between}
.dragCon{width:120px;position:relative;height:4px;background:#3A8BFF;border-radius:10px}
.dragFont{font-size:12px}
.dragStart,.dragMiddle,.dragEnd{position:absolute;width:2px;height:2px;background:#fff;border-radius:100%;left:0;top:1px}
.dragMiddle{left:calc(50% - 2px)}
.dragEnd{left:calc(100% - 2px)}
.dragCircle{width:16px;height:16px;background:#fff;border-radius:100%;position:absolute;top:-6px;cursor:move;user-select:none}
.vjs-self-setting .vjs-menu .vjs-menu-content::-webkit-scrollbar{display:inline-block;width:8px;height:8px}
.vjs-self-setting .vjs-menu .vjs-menu-content::-webkit-scrollbar-thumb{border-radius:20px;background-color:rgba(255,255,255,0.15)}
.video-js .vjs-play-control{width:40px;height:40px !important;margin-right:0;border:none!important;outline: none !important;box-shadow: none !important; }
.vjs-control-bar>.vjs-playback-rate{position:absolute;right:134px;top:40px;height:40px!important;margin-right:10px;width:38px}
.fullScreenContainer.full .vjs-control-bar>.vjs-playback-rate{width:52px;}
.video-js .vjs-control.vjs-resolution-button{height:40px!important;top:40px;margin-right:0;width:38px}
.vjs-playback-rate .vjs-menu{bottom:4px!important;width:82px;left:-22px}
.vjs-slider-vertical .vjs-volume-level:before{outline:4px solid transparent;border-radius:50%}
.vjs-slider-vertical.vjs-slider-active .vjs-volume-level:before,.vjs-slider-vertical .vjs-volume-level:hover:before{outline:4px solid #3A8BFF28}
.vjs-volume-bar.vjs-slider-vertical{border-radius:6px}
.vjs-volume-bar.vjs-slider-vertical .vjs-volume-level{background:#3A8BFF;border-radius:3px}
.vjs-has-started .vjs-control-bar{align-items:center}
.video-js .vjs-progress-control .vjs-mouse-display{background:#fff}
.video-js .vjs-time-tooltip,.video-js .vjs-mouse-display .vjs-time-tooltip,.video-js .vjs-tip{border-radius:4px;border:1px solid rgba(98,108,143,0.20);background:rgba(41,48,73,0.90);padding:6px 14px;line-height:17px;font-size:12px}
.video-js .vjs-thumbnail-tooltip,.video-js .vjs-mouse-display .vjs-thumbnail-tooltip{width:170px;height:96px;border-radius:4px;line-height:17px;font-size:12px;padding: 4px 8px;margin-right:9px;}
.video-js .vjs-thumbnail-tooltip,.video-js .vjs-mouse-display .vjs-thumbnail-tooltip{background:none;}
.vjs-thumbnail-tooltip img{display: block;width:168px;height:94px;border: 1px solid rgba(98, 108, 143, 0.20);border-radius: 4px;}
.video-js .vjs-tip{border-radius:4px}
.video-js .vjs-tip .vjs-tip-inner{background:transparent}
.video-js .vjsVolumeText{color:#fff;font-size:14px;position:absolute;top:3px;display:inline-block;text-align:center;width:100%;line-height:28px;left:0;}
.video-js .vjs-volume-panel .vjs-volume-control{height:170px !important}
.video-js .vjs-control-bar{background:linear-gradient(180deg,rgb(0,0,0,0),rgb(0,0,0,0.6))}
.video-js .vjs-progress-control{width:calc(100% - 40px) !important;margin-left:20px}
#hot_map_main{width:calc(100% - 40px) !important;margin-left:20px}
.video-js .vjs-screen-shot{top:50%;transform:translate(0,-50%)}
.video-js .vjs-progress-holder .vjs-load-progress{border-radius:999px;overflow:hidden}
.video-js .vjs-progress-holder .vjs-play-progress{border-radius:999px}
.video-js .vjs-progress-control .vjs-progress-holder{border-radius:999px}
.video-js .vjs-duration{margin-right:20px}
.video-js .vjs-subs-caps-button{height:40px!important;margin-right:0;width:38px}
.vjs-subs-caps-button .vjs-menu{bottom:4px!important}
.vjs-modal-dialog.vjs-text-track-settings{width:100%;top:0;left:0}
.video-js .vjs-slider-bar .vjs-time-tooltip,.video-js .vjs-slider-bar .vjs-thumbnail-tooltip{display:none!important}
.video-js .vjs-modal-dialog,.vjs-modal-dialog .vjs-modal-dialog-content{width:100%;height:100%}
.video-js .video_btns {position: fixed;top: 50%;transform: translateY(-50%);right: 20px;padding: 8px 6px;border-radius: 18px;background-color: rgba(0, 0, 0, 0.3);}
.video-js .video_btns .operate_btn {margin-bottom: 20px;cursor: pointer;text-align: center;}
.video-js .video_btns .operate_btn:last-child {margin-bottom: 0;}
.video-js .video_btns .operate_btn img {width: 20px;height: 20px;display: inline-block;}
.video-js .video_btns .operate_btn p {margin-top: 2px;font-size: 12px;line-height: 16px;color: rgba(255, 255, 255, 1);}
#topicContent .knowledgePointNameWrap:hover {background: #CEE4F8;}
.selectDivHover {position: fixed;left: 0;visibility: visible;opacity: 1;max-width: 200px;z-index: 9999;padding: 10px 16px;line-height: 17px;background: #181E33CC;font-size: 12px;color: #FFFFFF;border-radius: 4px;white-space: normal;}
.selectDivHoverArrow{content:'';display:block;position:absolute;left:calc(50% - 7px);bottom:100%;border-width:7px;border-style:solid;border-color:transparent transparent #181E33CC transparent;}
.selectDivHoverArrowBottom{content:'';display:block;position:absolute;left:calc(50% - 7px);top:100%;border-width:7px;border-style:solid;border-color:#181E33CC transparent transparent transparent;}