img{ border:0;}
.fr{float:right}
.fl{float:left}
.clear{clear:both}
.clearfix{zoom:1;overflow:hidden}
::-webkit-input-placeholder{ color: #E1E1E5; text-overflow: ellipsis;}
:-moz-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}
::-moz-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}
:-ms-input-placeholder{ color: #E1E1E5 !important; text-overflow: ellipsis;}

/*padding,margin值*/
.pad30lr{padding:0 30px;}
.padTop30{padding-top:30px;}
.marginRight30{margin-right:30px;}
.padBom20{padding-bottom:20px;}
/**********公共文字颜色*************/
.textHidden{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
/*color*/
.colorDeep{ color:#181E33;}/*一级文字 深色*/
.colorIn{ color:#646873;}/*二级文字 适中*/
.colorShallow{ color:#A8A8B3;}/*三级文字 浅色*/
.colorBlue_click{ color:#91a0b5;}/*可点击文字 蓝色*/
.colorBlue{ color:#3A8BFF;}/*蓝色*/
.pointer{cursor:pointer}

/******border**********/
.borderBom1{border-bottom:1px solid #F2F2F2;}

/************渐变按钮样式************/
.jb_btn{display:inline-block;box-shadow: 0 3px 12px 0 rgba(39,125,255,0.30);color: #FFFFFF;text-align:center;line-height:36px;border-radius: 20px;}
.jb_btn_92{width:92px;height:36px;background:url(/ananas/modules/video/jb_btn_92.png) no-repeat 0 0;}
.jb_btn_92_disable{width:92px;height:36px;background:url(/ananas/modules/video/jb_disable.png) no-repeat;box-shadow: 0 4px 11px 0 rgba(86,82,255,0.17);border-radius: 20px;}
.jb_btn_92:hover{background-position:0 -48px;}
.jb_btn_92:active{background-position:left -96px}

.btnBlue{border: 1px solid #94C1FF;border-radius: 20px;display:inline-block;width:90px;height:34px;text-align:center;line-height:34px;color: #3A8BFF;}
.btnBlue:hover{background: #EAF0FF;}
.btnBlue:active{background: #E4ECFF;}
.btn_92_cancel:hover{background:none}
.btn_92_cancel:active{background:none}
.btn_104{width:102px;}
.btn_92{width:90px;}

.tkVideo{ width:738px; height:414px; position:relative; margin:0 auto;}
.tkVideo_play{ width:738px; height:414px; overflow:hidden;}
.tkVideo_play img{ width:100%; height:100%; display:block; -webkit-filter: blur(16px); filter: blur(16px);}

.bntLinear{ padding:0 16px; width:92px; height:36px; line-height:36px; font-size:14px; color:#FFFFFF; font-weight:500; border-radius:18px; box-shadow:0px 3px 8px 0px rgba(58,107,255,0.33); text-align:center;
	background:#5a33ff;
	background:-webkit-linear-gradient(140deg, #6cc7ff 0%, #5a33ff 100%);
	background:-moz-linear-gradient(140deg, #6cc7ff 0%, #5a33ff 100%);
	background:-o-linear-gradient(140deg, #6cc7ff 0%, #5a33ff 100%);
	background:linear-gradient(140deg, #6cc7ff 0%, #5a33ff 100%);
}
.bntLinear:hover{
	background:#6c4aff;
	color:#FFFFFF;
	background:-webkit-linear-gradient(140deg, #89d9ff 0%, #6c4aff 100%);
	background:-moz-linear-gradient(140deg, #89d9ff 0%, #6c4aff 100%);
	background:-o-linear-gradient(140deg, #89d9ff 0%, #6c4aff 100%);
	background:linear-gradient(140deg, #89d9ff 0%, #6c4aff 100%);
}
.bntLinear:active{
	background:#7b66f1;
	color:#FFFFFF;
	background:-webkit-linear-gradient(318deg, #69cafa 0%, #7b66f1 100%);
	background:-moz-linear-gradient(318deg, #69cafa 0%, #7b66f1 100%);
	background:-o-linear-gradient(318deg, #69cafa 0%, #7b66f1 100%);
	background:linear-gradient(318deg, #69cafa 0%, #7b66f1 100%);
}
.bntLinear.bntDis{
	background:#ab99ff; cursor:context-menu;
	background: -webkit-linear-gradient(140deg, #ace7ff 0%, #ab99ff 100%);
	background: -moz-linear-gradient(140deg, #ace7ff 0%, #ab99ff 100%);
	background: -o-linear-gradient(140deg, #ace7ff 0%, #ab99ff 100%);
	background: linear-gradient(140deg, #ace7ff 0%, #ab99ff 100%);
}

.tkCheck{ width:18px; height:18px; overflow:hidden; position:relative; display:inline-block; vertical-align:middle;}
.tkCheck input{ width:18px; height:18px; filter:alpha(opacity=0); opacity:0; cursor:pointer; display:block; position:absolute; left:0; top:0; z-index:2;}
.tkCheck input+i{ width:18px; height:18px; background:url(/ananas/css/tkcheck.png) no-repeat; overflow:hidden; position:absolute; left:0; top:0; z-index:1;}
.tkCheck input:checked+i{ background-position:0 -20px;}
.tkCheck input:disabled+i{ background-position:0 -40px;}

.tkRadio{ width:18px; height:18px; overflow:hidden; position:relative; display:inline-block; vertical-align:middle;}
.tkRadio input{ width:18px; height:18px; filter:alpha(opacity=0); opacity:0; cursor:pointer; display:block; position:absolute; left:0; top:0; z-index:2;}
.tkRadio input+i{ width:18px; height:18px; background:url(/ananas/css/tkRadio.png) no-repeat; overflow:hidden; position:absolute; left:0; top:0; z-index:1;}
.tkRadio input:checked+i{ background-position:0 -20px;}
.tkRadio input[type="radio"]:disabled+i{ background-position:0 -40px;}
.tkRadio input[type="checkbox"]+i{width:18px; height:18px; background:url(/ananas/css/tkcheck.png) no-repeat; overflow:hidden; position:absolute; left:0; top:0; z-index:1;}
.tkRadio input[type="checkbox"]:checked+i{background-position:0 -20px;}
.tkRadio input[type="checkbox"]:disabled+i{background-position:0 -40px;}

.tkTopic{ position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,.6);}
.configIframe{ position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,.6);}
.tkTopic_title{ position:absolute; left:0; top:0; right:0; padding:18px 18px 8px; height:24px; line-height:24px; font-size:18px; color:#BABABA;}
.tkTopic_oper{ position:absolute; left:0; right:0; bottom:10px; height:56px; padding:10px 20px; background:#060606;}
.tkTopic_oper .spanHas{ display:none;margin-right:30px; height:36px; line-height:36px; font-size:18px; color:#4FCF5A;max-width:550px;}
.tkTopic_oper .spanHas:before{ content:''; margin:-3px 10px 0 0; width:18px; height:18px; background:url(/ananas/css/right.png); display:inline-block; vertical-align:middle;}
.tkTopic_oper .spanNot, .tkTopic_oper .spanNotBack{ display:none;margin-right:30px; height:36px; line-height:36px; font-size:18px; color:#F13A3A;}
.tkTopic_oper .spanNot:before, .tkTopic_oper .spanNotBack:before{ content:''; margin:-3px 10px 0 0; width:18px; height:18px; background:url(/ananas/css/wrong.png); display:inline-block; vertical-align:middle;}
.tkTopic_oper .spanHref{ display:none;height:36px; line-height:36px; font-size:15px; color:#ffffff;}

.tkTopic_con{ position:absolute; left:2px; top:50px; right:2px; bottom:56px; overflow:hidden;}

.tkItem{ padding:0 50px;}
.tkItem_title{ padding:10px; min-height:22px; line-height:22px; font-size:16px; color:#FFFFFF;}
.tkItem_ul{}
.tkItem_ul li{ font-size:16px; color:#FFFFFF; position:relative;}
.tkItem_ul li label{display:block;padding:10px 10px 10px 48px; min-height:22px; line-height:22px; }
.tkItem_ul li .tkRadio{ position:absolute; left:10px; top:12px;}
.tkItem_ul li .tkCheck{ position:absolute; left:10px; top:12px;}
.tkItem_ul li:hover{ background:#363636;}
.ans-videoquiz-continue{display: none;cursor: pointer}
.ans-videoquiz-submit{cursor: pointer}

.sp_video_pic{ position:absolute; left:0; top:0; right:0; bottom:0; width:100%; height:100%; background:rgba(16, 26, 41, 0.3);}
.sp_video_ppt_pic{ position:absolute;top:0!important;left:0;z-index:102!important; background:rgba(16, 26, 41, 0.76);
moz-user-select: -moz-none; -moz-user-select: none; -o-user-select: none;-khtml-user-select: none;
-webkit-user-select: none;-ms-user-select: none;user-select: none;cursor: move}
.sp_video_ppt_pic_h{max-width:50%; height:50%;}
.sp_video_ppt_pic_w{width:50%; max-height:50%;}
.sp_ppt_pic_fullScreen{max-width:100%; height:100%;width:100%;}
.sp_ppt_pic_fullScreen1{width:100%; max-height:100%;height:100%;}
.sp_video_ppt_pic img{
	max-width:100%; max-height:100%; display:block;
}
.sp_video_pic img{ position:absolute; left:50%; top:50%; max-width:100%; max-height:100%; display:block;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.sp_video_pic_dele{ position:absolute; right:10px; top:10px; z-index:3; width:40px; height:40px; background:url(/ananas/modules/video/video_pic_dele.png) no-repeat; overflow:hidden;}
.sp_video_pic_dele:hover{ background-position:0 -50px;}
.sp_size_big{ position:absolute; right:10px; bottom:10px; width:32px; height:32px; background:url(/ananas/modules/video/video_pic_size.png) no-repeat; overflow:hidden;}
.sp_size_big:hover{ background-position:0 -40px;}
.sp_size_small{ position:absolute; right:10px; bottom:10px; width:32px; height:32px; background:url(/ananas/modules/video/video_pic_size.png) no-repeat -40px 0; overflow:hidden;}
.sp_size_small:hover{ background-position:-40px -40px;}

.tkTopic_numbar{ padding:18px 18px 8px; line-height:24px; font-size:14px; color:#BABABA;}
.tkTopic_numbar span{display:none}
.tkParsing_con{ padding:24px 50px; line-height:24px; font-size:16px; color:#FFFFFF;}
.bntWhiteBorder{ display:none;margin-right:30px; padding:0 16px; min-width:60px; height:34px; line-height:34px; border:solid #5379AE 1px; font-size:14px; color:#3a8bff; font-weight:500; border-radius:20px; text-align:center;cursor: pointer}
.bntWhiteBorder:hover{color:#3a8bff;}

.tkParsing{ display:none;position:absolute; left:0; right:0; bottom:56px; z-index:1; background:#060606; overflow:hidden;}
.tkParsing_screll{ max-height:246px; overflow:hidden;}
.tkParsing_dele{ position:absolute; right:10px; top:10px; width:24px; height:24px; background:url(/ananas/modules/video/tkParsing_dele.png) no-repeat;}
.toolTipBox1{position:fixed;z-index:1001!important;padding:0 24px;height:48px;background:rgba(79,87,98,0.98);border-radius: 8px;line-height:48px;color:#fff;font-size:14px;top:50%;left:50%;transform: translate(-50%, -50%); z-index: 999;white-space: nowrap;}
.loadicon{display:inline-block;width:18px;height:18px;vertical-align:middle;margin-right:10px;}
.loadicon img{display:block;width:100%;height:100%}